@import
url('https://fonts.googleapis.com/css2?family=Ubuntu&display=swap');
@import 
url('https://fonts.googleapis.com/css2?family=Varela+Round&display=swap');


body{
    background-color: antiquewhite
}


*{
    margin: 0;
    padding: 0;
}

nav {
    font-family: 'Ubuntu', sans-serif;
}

nav ul {
    display: flex;
    list-style-type: none;
    height: 55px;
    background-color: black;
    color: white;
    align-items: center;
}

nav ul li {
    padding: 0 15px;
}

.brand img {
    width: 45px;
}

.brand {
    display: flex;
    align-items: center;
    gap: 10px;
    font-size: 24px;
    font-weight: bold;
}

.container {
    min-height: 63.8vh;
    background-color: black;
    color: white;
    font-family: 'Varela Round', sans-serif;
    display: flex;
    margin: 9px auto;
    width: 70%;
    border-radius: 12px;
    padding: 23px;
    background-image: url(projectb.jpg);
    background-size: 100% 100%;
}

.bottom {
    position: sticky;
    height: 80px;
    background-color: black;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

#myProgressBar {
    width: 70%;
    height: 18px;
    background-color: grey;
    cursor: pointer;
}

.songItem {
    height: 50px;
    width: 80%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 5px 0;
    background-color: white;
    color: black;
    border-radius: 34px;
    padding: 5px;
    gap: 20px;
    
    
}

.songItem img {
    height: 50px;
    width: 50px;
    border-radius: 50%;
    object-fit: cover;
    
}  

.timestamp {
    margin: 0 5px;
    padding-right: 20px;
    align-items: center;
    display: flex;
    flex: 1;
   
}

.timestamp i {
    margin-left: 10px;
    cursor: pointer;
}

.Name {
    flex: 1;
    margin-right: 10px;
}

.songinfo {
    position: absolute;
    left: 15vw;
    margin-top: 15px;
    font-family: 'Varela Round', sans-serif;
    
}

.songinfo img {
   opacity: 0;
   transition: opacity 0.8s ease-in;
}

.songname {
    font-size: 14px;
    margin-top: 1.5vh;
    position: fixed;
    margin-left: 15px;

}

.icons {
    cursor: pointer;
}